body {
    color: #fff;
    background: #3598dc;
}
.form-control {
    min-height: 41px;
    background: #FAFAFA;
    box-shadow: none !important;
}
.form-control:focus {
    background: #F2F2F2;
}
.form-control, .btn {
    border-radius: 2px;
}
.login-form {
    width: 350px;
    margin: 80px auto;
    text-align: center;
}
.login-form h2 {
    margin: 10px 0 25px;
}
.login-form form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}
.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #fff;
    position: relative;
    top: -11px;
    z-index: 1;
}
.avatar {
    margin: 0 auto ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: #222222;
    z-index: 9;
    background: #E6E6E6;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#register{
    color:  #2389cd;
}
label{
    margin-left: -60px;
    margin-bottom: -10px;
}
.avatar i{
    color: #222222;
    margin-left: -4px;
    margin-top: -5px;
}
.fa-user-plus {
    font-size: 68px;
}
h2{
    color: #222222;
}